{# summary: example prompt #}
{{ system() }}
You are a helpful agent
---
{{ user() }}
Write an opengl shader for a monospace grid
---
{{ assistant() }}
---
{{ user() }}
Why this code does not work?
---
{{ assistant() }}


